@import "constants";
@import "mixins";

#completed-container {
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  height: 700px;

  #progress-tracker {
    @include cenetered-column;
    width: 50%;
    height: 60%;
    // margin-top: 15em;
    padding-top: 3em;
    border: 2px solid #447480;
    background-color: #6ab0c4;
    box-shadow: 1rem 1rem $foreground-color;

    h2 {
      @include reset;
      font-size: 10vh;
      font-family: $funky-text;
      color: #ece991;
      margin-bottom: 30px;

      i {
        font-size: 15vh;
      }
    }

    .progress-text {
      @include reset;
      font-size: 5vh;
      font-family: $funky-text;
      color: #244149;
    }
  }

  #list {
    @include cen-col-without-justify;

    h3 {
      font-size: 3.5vh;
      padding: 0 3vw;
      font-family: $funky-text;
      color: $font-black;
    }

    ul {
      @include reset;
      @include cen-col-without-justify;
      width: 550.4px;
      min-height: 600px;
      max-height: 600px;
      overflow-y: scroll;
    }

    li {
      @include reset;
      width: 90%;
      height: 140px;
      @include row-space-between;
      align-content: center;
      margin: 1em 0;
      padding: 0 1rem;

      input {
        @include reset;
      }

      .todo-text-html {
        @include reset;
        width: 40%;
        display: flex;
        text-align: center;
        @include cenetered-column;
        font-size: 2.5vh;
      }

      button {
        @include reset;
        height: 40px;
        width: 40px;
        margin: 2.8rem 0;
        border-radius: 50%;
        cursor: pointer;
      }

      button:hover {
        box-shadow: 0.2rem 0.2rem $foreground-color;
      }

      .todo-checkbox {
        appearance: none;
        height: 40px;
        width: 40px;
        margin: 2.8rem 0;
        border: 0.15em solid white;
        border-radius: 50%;
        font: inherit;
        color: white;
        display: grid;
        place-content: center;
        cursor: pointer;
      }

      .todo-checkbox::before {
        content: "";
        height: 25px;
        width: 25px;
        transform: scale(0);
        transition: 120ms trasnform ease-in-out;
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

      .todo-checkbox:checked::before {
        transform: scale(1);
        background-color: #49131e;
      }
    }

    li:hover {
      box-shadow: 0.3rem 0.3rem $foreground-color;
    }
  }
}

#completed-todos {
  background-color: #e05175;
  border: 2px solid #411520;
  box-shadow: 1rem 1rem $foreground-color;

  li {
    border: 2px solid #411520;
  }

  button {
    background-color: #fa879e;
    border: solid #411520;
  }
}
