// colors
$background-color: #f9e3c0;
$foreground-color: #545149;
$accent-color: #4c7cd5;

// fonts
$funky-text: "Black Han Sans", sans-serif;
$todo-font: 'Rubik', sans-serif;
$font-light: 20px;
$font-heavy: 80px;