// See: https://sass-lang.com/
 @import "constants";
 @import "mixins";

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  @include reset;
  @include flex-column;
  width: 100%;
}

main {
  @include flex-column;
  margin-top: 4em;
  justify-content: space-between;
  width: 100%;

  div {
    @include reset;
    @include flex-row;
  }
}

.todo-upper-container {
  @include flex-column;
  align-items: center;
}