// See: https://sass-lang.com/
 @import "constants";
 @import "mixins";

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  @include reset;
  @include flex-column;
}

main {
  @include flex-column;
  justify-content: space-between;
}

