// See: https://sass-lang.com/
 @import "constants";
 @import "mixins";

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  @include reset;
  @include flex-column;
  width: 100%;
}

main {
  @include flex-column;
  margin-top: 4em;
  justify-content: space-between;
  width: 100%;

  div {
    @include reset;
    @include flex-row;
  }
}

.todo-upper-container {
  @include flex-column;
  align-items: center;
}

@media only screen and (max-width: 1024px) {

  .titles h3 {
    font-size: 2.5vh;
  }

  .progress-text {
    font-size: 2vh
  }

  .todo-list-container {
    @include flex-row;
    justify-content: space-evenly;
    height: 650px;
  
    div {
      width: 25vw;
      @include cen-col-without-justify;
  
  
      li {
        @include reset;
        width: 90%;
        height: 140px;
        @include row-space-between;
        align-content: center;
        margin: 1em 0;
        padding: 0 1rem;
  
  
        input {
          @include reset;
        }
  
        .todo-text-html {
          @include reset;
          width: 40%;
          display: flex;
          text-align: center;
          @include cenetered-column;
          font-size: 1.5vh;
        }
  
        button {
          @include reset;
          height: 20px;
          width: 20px;
          margin: 2.8rem 0;
          font-size: 10px;
        }
  
        .todo-checkbox {
          appearance: none;
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}