@import "constants";
@import "mixins";

.titles {
  color: $accent-color;
  font-family: $funky-text;
  @include flex-row;
  justify-content: space-between;
  padding: 0 9vw;

  h3 {
    font-size: 3vh;
    padding: 0 3vw;
  }
}

.todo-list-container {
  @include flex-row;
  justify-content: space-evenly;
  height: 700px;

  div {
    width: 20vw;
    @include cen-col-without-justify;
    overflow-y: scroll;

    ul {
      @include reset;
      @include cen-col-without-justify;
      width: 90%
    }

    li {
      @include reset;
      width: 90%;
      height: 100px;
      @include row-space-between;
      align-content: center;
      margin: 1em 0;
      padding: 0 1rem;

      input {
        @include reset;
      }

      .todo-text-html {
        @include reset;
        width: 40%;
        display: flex;
        text-align: center;
        @include cenetered-column;
      }

      button {
        @include reset;
        height: 45%;
        width: 20%;
        margin: 1.5rem 0;
        border-radius: 50%;
      }

      .todo-checkbox {
        border-radius: 50%;
      }
    }
  }
}

#todo-food {
  background-color: #4d295a;
  border: 2px solid #270631;
  box-shadow: 1rem 1rem $foreground-color;

  li {
    border: 2px solid #250631;
  }

  button {
    background-color: #604674;
    border: solid #240631;
  }
}
