@import "constants";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #bdace0;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

// todos title style
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

h1 {
  font-family: $funky-text;
  color: rgb(255, 255, 255);
  font-size: $font-heavy;
  animation: fadeIn 2s;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: $funky-text;
  color: rgb(88, 83, 83);
}

h4 {
  font-family: $normal-todo-font;
  color: rgb(255, 255, 255);

}

// list of todos styles
li {
  font-family: $normal-todo-font;
  color: rgb(255, 255, 255);
  font-size:  $font-light;
}

// input styles
input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 500px;
}

// button styles
.button-class {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #af701d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

// icon styles
@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.todo-icon {
  width: 200px;
  height: 200px;
  margin-top: -60px;
  opacity: 0.7;
}

img:hover, h1:hover {
  animation: fadeInOut 2s infinite;
}