@import "constants";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-color: #e8d9b1;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

h1 {
  font-family: $funky-text;
  color: rgb(255, 255, 255);
  font-size: $font-heavy;
  animation: fadeIn 2s;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

ol {
  font-family: $todo-font;
  color: rgb(255, 255, 255);
  font-size:  $font-light;
}