@mixin cenetered-column {
  justify-content: center;
  @include cen-col-without-justify;
}

@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin cen-col-without-justify {
  align-items: center;
  @include flex-column;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin row-space-between {
  @include flex-row;
  justify-content: space-between;
}

@mixin align-cen-sbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
